[submodule "Nous/vendor/spdlog"]
	path = Nous/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Nous/vendor/GLFW"]
	path = Nous/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Nous/vendor/imgui"]
	path = Nous/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Nous/vendor/glm"]
	path = Nous/vendor/glm
	url = https://github.com/icaven/glm
[submodule "Nous/vendor/yaml-cpp"]
	path = Nous/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Nous/vendor/imguizmo"]
	path = Nous/vendor/imguizmo
	url = https://github.com/thecherno/imguizmo
