[submodule "Nous/vendor/spdlog"]
	path = Nous/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Nous/vendor/imgui"]
	path = Nous/vendor/imgui
url=https://github.com/chordfish-k/imgui.git
[submodule "Nous/vendor/glm"]
	path = Nous/vendor/glm
	url = https://github.com/icaven/glm
[submodule "Nous/vendor/yaml-cpp"]
	path = Nous/vendor/yaml-cpp
url=https://github.com/chordfish-k/yaml-cpp.git
[submodule "Nous/vendor/imguizmo"]
	path = Nous/vendor/imguizmo
url=https://github.com/chordfish-k/ImGuizmo.git
[submodule "Nous/vendor/box2d"]
	path = Nous/vendor/box2d
	url=https://github.com/chordfish-k/box2d
[submodule "Nous/vendor/glfw"]
	path = Nous/vendor/glfw
url=https://github.com/chordfish-k/glfw.git