cmake-build-**
CMakeBuild
Profile-**.json

__pycache__

log.txt

**/bin/
bin-int/
intermediates/

VulkanSDK/


*.log

.idea/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

**.frag
**.vert